@model IEnumerable<TropicalServerApp.Models.tblOrder>

@{
    Layout = null;
}

@foreach (var Item in Model)
{
    <tr>
        <td>@Item.OrderCustomerNumber</td>
        <td>
            @Html.ActionLink("View", "View")
            @Html.ActionLink("Edit", "Edit")
            @Html.ActionLink("Delete", "Delete")
        </td>
    </tr>
}
